<h1>Add a new super hero:</h1>

<form action="/heros" method="post">
<div class="form-group">
<label for="name">Super Hero Name</label><br>
<input id="name" name="name" type="text" placeholder="Super hero" class="inputs">
</div>

<div class="form-group">
<label for="age">Hero's age</label><br>
<input id="age" name="age" type="text" placeholder="Hero's age" class="inputs">
</div>

<button type="submit" class="btn btn-info">Add Hero</button>
</form>