<h1>Super heros squad list:</h1>


#if ($heros)
    #foreach ($hero in $heros)
      <h2><a href="/heros/$hero.getId()">$hero.getName()</a></h2>
    #end
#else
  <p>No super heros!</p>
#end

<button class="btn-info"><a href="/heros/new">Add a super hero:</a></button>
