<h1>Super heros details</h1>

<h2>Super hero: $hero.getName()</h2>
<h2>Age: $hero.getAge()</h2>
<h2>Power: $hero.getPower()</h2>
<h2>Course: $hero.getCourse()</h2>
<h2>Weakness: $hero.getWeakness()</h2>

<button class="btn"><a href="/heros/new">Add another super hero</a></button>
<button class="btn"><a href="/heros">All super heros</a></button>
<button class="btn"><a href="/">Go back</a></button>