<h1>Super hero: $hero.getName()</h1>
<h1>Age: $hero.getAge()</h1>

<button class="btn-default"><a href="/heros/new">Add another super hero</a></button>
<button class="btn-default"><a href="/heros">All super heros</a></button>