<h1>Welcome to the Super Hero Squad Application</h1>

<button class="btn-default"><a href="/categories/new">Add a new squad</a></button>
<button class="btn-default"><a href="/categories">View all current super heros squad</a></button>
